<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.athelite">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ViewWorkout"
            android:label="@string/title_activity_view_workout"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ViewExercise"
            android:label="@string/title_activity_view_exercise"
            android:parentActivityName=".Activity.ViewWorkout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.ViewWorkout" />
        </activity>
        <activity
            android:name=".Activity.ViewDay"
            android:label="@string/title_activity_view_day"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.SetupActivity"
            android:label="@string/title_activity_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ViewGraph"
            android:label="@string/title_activity_view_graph"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.athelite.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>